# Compiled source #
###################
*.pyc

# Packages #
############
*.zip

# Logs and databases #
######################
*.log
*(copy)

# Other files #
###############
.vscode/
test.py
output.txt
example.txt
example.pdf
